.sale-card {
  width: 100%;
  background: #000000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 59px;
  overflow: hidden;
  margin-bottom: 111px;
}

.tape {
  width: 100%;
  margin-top: 69px;
  position: relative;
  padding-bottom: 100px;
}
.tape .tape-text {
  position: absolute;
  z-index: 4;
  text-align: center;
  width: 100%;
  font-size: 5rem;
  line-height: 130%;
  letter-spacing: -0.06em;
  margin: 0 auto;
}
.tape .tape-item {
  position: absolute;
  width: 110%;
  height: 113px;
  left: -5%;
  background: #FFF444;
}
.tape .tape-item:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 100px rgba(107, 0, 0, 0.15);
  transform: rotate(-3deg);
  z-index: 3;
}
.tape .tape-item:nth-child(2) {
  box-shadow: 0px 0px 100px rgba(107, 0, 0, 0.15);
  z-index: 2;
}
.tape .tape-item:nth-child(3) {
  transform: rotate(6deg);
  z-index: 1;
}

.sale-correction {
  font-size: 19px;
  line-height: 130%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #777777;
  margin: 87px auto 52px;
  max-width: 580px;
}

.sale-title {
  padding: 0 40px 0 34px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 23px;
}
.sale-title .title-text {
  font-weight: 400;
  max-width: 500px;
  font-size: 5rem;
  line-height: 110%;
  margin: 0;
  letter-spacing: -0.04em;
  color: #FFFFFF;
}
.sale-title .title-teachers {
  margin-top: 20px;
}
.sale-title .title-teachers img {
  position: relative;
}
.sale-title .title-teachers img:not(:last-child) {
  margin-right: -18px;
}
.sale-title .title-teachers img:first-child {
  z-index: 3;
}
.sale-title .title-teachers img:nth-child(2) {
  z-index: 2;
}
.sale-title .title-teachers img:nth-child(3) {
  z-index: 1;
}

.sale-text {
  padding: 0 40px;
  font-size: 40px;
  line-height: 130%;
  letter-spacing: -0.02em;
  max-width: 746px;
  color: #FFFFFF;
}
.sale-text span {
  color: #FFF444;
}

.sale-bnt {
  background: #0500FF;
  border-radius: 100px;
  margin: 46px auto 0;
  height: 70px;
  display: flex;
  font-family: "Proxima Nova Sb", sans-serif;
  justify-content: center;
  align-items: center;
  min-width: 357px;
  color: white;
  font-size: 19px;
  line-height: 140%;
  transition: background .3s;
}

.sale-bnt:hover {
  background: #ff0000;
  color: white !important;
}

@media (max-width: 767px) {
  .sale-card {
    padding: 0 10px 30px;
    margin-bottom: 70px;
  }
  .tape {
    margin-top: 58px;
  }
  .tape .tape-item {
    height: 56px;
    min-height: 56px;
  }
  .tape .tape-text {
    font-size: 34px;
  }
  .sale-correction {
    font-size: 16px;
    padding: 0 6px;
    margin-top: 0;
    margin-bottom: 12px;
  }
  .sale-title {
    padding: 0 6px;
    margin-bottom: 25px;
  }
  .sale-title .title-text {
    max-width: 344px;
  }
  .sale-title .title-teachers {
    margin-top: 17px;
  }
  .sale-title .title-teachers img {
    height: 67px;
    width: 67px;
  }
  .sale-text {
    font-size: 34px;
    padding: 0 6px;
  }
  .sale-bnt {
    min-width: unset;
    font-size: 16px;
    height: 60px;
    width: 100%;
    margin: 30px 0 0;
  }
}

@media (max-width: 340px) {
  .tape .tape-text {
    font-size: 28px;
  }
}
