.content__wrapper .progress {
    padding: 20px 38px 40px;
    margin-top: 43px;
}
.content__wrapper .progress h2 {
    padding-right: 10px;
}
.content__wrapper .progress__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.content__wrapper .progress__title .btn-arrow {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    background: #f8f8fd;
    border: none;
    border-radius: 50%;
    margin-right: -18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.content__wrapper .progress__title .btn-arrow svg {
    transition: transform 0.3s;
}
.content__wrapper .progress__body {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s;
    position: static;
}
.content__wrapper .progress__body small {
    font-size: 19px;
    line-height: 140%;
    margin-bottom: 6px;
}
.content__wrapper .progress__body h3 {
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 140%;
    letter-spacing: -0.02em;
}
.content__wrapper .progress__box .text {
    display: flex;
    justify-content: space-between;
}
.content__wrapper .progress__bar {
    margin-top: 18px;
}
.content__wrapper .progress__bar .bar__grey {
    height: 3px;
    background: #ededf7;
}
.content__wrapper .progress__bar .bar__green {
    margin-top: -3px;
    width: 3%;
    height: 3px;
    background: #8de300;
}
.content__wrapper .progress__categories {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 57px;
    overflow: hidden;
    max-height: 320px;
    transition: max-height 0.4s;
}
.content__wrapper .progress__categories .tools {
    flex: 1;
    margin-top: 47px;
}
.content__wrapper .progress__categories .tools h3 {
    margin-bottom: 19px;
}
.content__wrapper .progress__categories .tools__item:not(:last-child) {
    margin-bottom: 20px;
}
.content__wrapper .progress__categories .tools__title {
    display: flex;
    justify-content: space-between;
}
.content__wrapper .progress__categories .tools__bar .bar__grey {
    height: 3px;
    background: #ededf7;
}
.content__wrapper .progress__categories .tools__bar .bar__green {
    margin-top: -3px;
    height: 3px;
    background: #8de300;
}
.content__wrapper .open-body .progress__categories {
    max-height: 0;
}
.content__wrapper .open-body .progress__title .btn-arrow svg {
    transform: rotate(180deg);
}
@media (max-width: 767px) {
    .content__wrapper .content-item {
        padding: 0 0 20px;
    }
    .content__wrapper .content-item:not(.progress) {
        padding-top: 20px;
    }
    .content__wrapper .content-item:not(.video-block) {
        padding-left: 15px;
        padding-right: 15px;
    }
    .content__wrapper .progress {
        margin-top: 40px;
        padding-top: 10px;
    }
    .content__wrapper .progress__body small {
        font-size: 16px;
    }
    .content__wrapper .progress__bar {
        margin-top: 10px;
    }
    .content__wrapper .progress__categories {
        flex-direction: column;
        max-height: 450px;
    }
    .content__wrapper .progress__title .btn-arrow {
        height: 35px;
        width: 35px;
        min-width: 35px;
        min-height: 35px;
        margin-right: -5px;
    }
    .content__wrapper .progress__title .btn-arrow svg {
        width: 16px;
    }
    .content__wrapper .progress__categories .tools {
        margin-top: 30px;
    }
    .content__wrapper .progress__categories .tools h3 {
        margin-bottom: 12px;
    }
    .content__wrapper .progress__categories .tools__item:not(:last-child) {
        margin-bottom: 12px;
    }
}
