$yz_white_lite: #FAFAFE;
$yz_grey_lite: #D2D2E7;
$yz_grey: #9090A9;

$yz_black_lite: #202027;
$yz_dgrey: #3D3D4D;
$yz_dgrey_lite: #696978;

$yz_blue_lite: #0500FF;
$yz_blue_dark: #0400D0;

$yz_red: #FF0000;

$yz_yellow_lite: #FFF444;
$yz_yellow: #FFE600;

